* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Hind Madurai', sans-serif;
    font-size: 16px;
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #60a0d1;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 3em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

nav ul li {
    margin: .3em;
}

ul li img {
    width: 40px;
}

ul li input {
    width: 6em;
    border-radius: .45em;
    margin-right: .5em;
}

/* .menu-cel {
    margin-left: .4em;
}

.menu-cel img {
    width: 29px;
}

.logo img {
    width: 50px;
}

.buscador img {
    width: 29px;
    margin-right: .4em;
} */

.slide img {
    width: 200px;
}

.main {
    width: 90%;
}

/* --- Seccion de ordenamiento y filtrado --- */
.organize {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Seccion de ordenamiento*/
.sort {
    margin: 1em;
    padding: .5em;
}

.select_sort {
    display: none;
    position: absolute;
    border: 1px solid gray;
    padding: .5em;
}

.sort:hover > .select_sort{
    display: block;
    position:relative;
    border: 1px solid gray;
    padding: .5em;
    
}

.sort a {
    text-decoration: none;
    color: #60a0d1;
    font-weight: 500;
}

.select_sort ul li {
    list-style: none;
    padding: .2em;
    border-bottom: 1px dotted gray;
}

.select_sort ul li:hover {
    background-color: rgb(230, 230, 230);
}

.select_sort ul li:last-child{
    border-bottom: none;
}


/* Seccion de filtrado*/
.filter_section {
    margin-right: 2em;
    display: block;
}

.filter_section a {
    text-decoration: none;
    color: #60a0d1;
    font-weight: 500;
}

.filter {
    display: none;
}

.filter_section:hover>.filter {
    display: block;
    width: 6em;
    height: 10em;
}
/* container*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cards {
    font-size: 16px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    text-align: center;
    justify-content: center;
    grid-gap: 5em;
    padding: 2em;
    width: 80%;
}

.card {
    border: 1px solid rgb(184, 184, 184);
    padding: 2em;
    border-radius: 30px;
}

.card img {
    border-radius: 30px;
}

.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_container_card {
    width: 90%;
    padding: 2em;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.info_card_img img {
    border-radius: 2em;
}

.info_card__data {
    margin: auto;
    padding: 1em;
    text-align: justify;
}

@media (min-width: 800px){
    .info_container{
        margin: auto;
        width: auto;
        height: fit-content;
    }

    .info_container_card {
        width: auto;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
    
    }
    .info_card__data {
        width:50%;
        margin: auto;
        padding: 1em;
        text-align: justify;
}
.year {
    text-align: end;    
}

.retbut {
    justify-content:right;
    width:3em;
    height:3em;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.people_img img {
    border-radius: 30px;

}