* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

nav {
    background-color: #60a0d1;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 3em;
}

nav ol {
    display: none;
}

.menu {
    margin-left: .2em;
}

.menu img {
    width: 29px;
}

.logo img {
    width: 50px;
}

.buscador img {
    width: 29px;
}

.container {
    width: 80vw;
}

.container_cards {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    grid-gap: 5em;
}

.card {
    padding: .2em;
}

